*{
    margin: 0;
    box-sizing: border-box;
     --text:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        45deg,
        rgba(186, 168, 4, 0.973),
        rgba(231, 101, 9, 0.801)
    )
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.select-container img{
    height: 30px;
    width: 30px;
}
.select-container select{
    height: 25px;
    width: 60px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline: none;
    font-family: var(--text);
    
}

.icon i{
    font-size: 28px;
    color: #333;
}

.amount p{
    font-family: var(--text);
    margin-bottom: 5px;
    padding-left: 2px;
}

button{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: #F4C430;
    color: rgb(2, 2, 2);
    border: none;
    font-size: large;
    cursor: pointer;
    font-family: var(--text);
}

#convert-btn{
    width: 120px;
    background-color: rgb(168, 127, 3);
    color: white;
}

.amount input{
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0 10px;
    font-size: larger;
    outline: none;

}

.container{
    min-height: 70vh;
    width: 400px;
    height: 450px;
    background-color: rgb(227, 224, 130);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
#result{
    font-family: var(--text);
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.last{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

h2{
    font-family: var(--text);
    font-size: 32px;
    margin-top: 25px;
}